<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/simple-dark.css' | relative_url }}">
  </head>
  <body>
    <div class="container">
      <header>
	<h1>{{ site.title }}</h1>
	<div class="header-links">
	  <a href="mailto:john.h.watrous@gmain.com">Email</a>
	  /
          <a href="/path-to-cv.pdf">CV</a>
	  /
          <a href="https://bsky.app/profile/johnwatrous.bsky.social">Bluesky</a>
	  /
          <a href="https://www.linkedin.com/in/john-watrous-2b6b70251">LinkedIn</a>
	  /
          <a href="https://scholar.google.ca/citations?user=KpCmyMcAAAAJ">Scholar</a>
	  /	  
          <a href="https://github.com/jhwatrous">GitHub</a>
        </div>
        <hr class="header-separator">
	<nav>
          <a href="{{ '/' | relative_url }}">About</a>
	  <a href="{{ '/education.html' | relative_url }}">Books and courses</a>
	  <a href="{{ '/research.html' | relative_url }}">Research papers</a>
	  <a href="{{ '/writings.html' | relative_url }}">Other writing</a>
	</nav>
      </header>
      
      <main>
	{{ content }}
      </main>
      
      <footer>
	<p>&copy; 2025 {{ site.title }}</p>
      </footer>
    </div>
  </body>
</html>
