<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/simple-dark.css' | relative_url }}">
  </head>
  <body>
    <div class="container">
      <header>
	<h1>{{ site.title }}</h1>
	<div class="header-links">
	  <a href="mailto:john.h.watrous@gmain.com">Email</a>
	  /
          <a href="/path-to-cv.pdf">CV</a>
	  /
          <a href="https://bsky.app/profile/johnwatrous.bsky.social">Bluesky</a>
	  /
          <a href="https://www.linkedin.com/in/john-watrous-2b6b70251">LinkedIn</a>
	  /
          <a href="https://scholar.google.ca/citations?user=KpCmyMcAAAAJ">Scholar</a>
	  /	  
          <a href="https://github.com/jhwatrous">GitHub</a>
        </div>
        <hr class="header-separator">
	<nav>
          <a href="{{ '/' | relative_url }}">About</a>
	  <a href="{{ '/books-and-courses.html' | relative_url }}">Books and courses</a>
	  <a href="{{ '/research-papers.html' | relative_url }}">Research papers</a>
	  <a href="{{ '/other-writing.html' | relative_url }}">Other writing</a>
	</nav>
      </header>
      
      <main>
	{{ content }}
      </main>

      <footer>
	<div class="footer-content">
          <div class="copyright">&copy; 2025 {{ site.title }}</div>
          <div class="theme-toggle-container">
            <div id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
              <div class="theme-option dark" data-theme="dark">🌙</div>
              <div class="theme-option light" data-theme="light">☀️</div>
            </div>
          </div>
	</div>
      </footer>
      
    </div>
    <script>
      const themeToggle = document.getElementById('theme-toggle');
      const darkOption = themeToggle.querySelector('.dark');
      const lightOption = themeToggle.querySelector('.light');
      const currentTheme = localStorage.getItem('theme') || 'dark';

      // Set initial theme
      document.documentElement.setAttribute('data-theme', currentTheme);
      updateToggleState(currentTheme);

      function updateToggleState(theme) {
          darkOption.classList.toggle('active', theme === 'dark');
          lightOption.classList.toggle('active', theme === 'light');
      }

      // Toggle theme on click
      themeToggle.addEventListener('click', () => {
          const currentTheme = document.documentElement.getAttribute('data-theme');
          const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
          
          document.documentElement.setAttribute('data-theme', newTheme);
          updateToggleState(newTheme);
          localStorage.setItem('theme', newTheme);
      });
    </script>
  </body>
</html>
